.projects{
    padding: 20px 4%;
}
.projects-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    grid-gap: 3.3%;
    margin: 20px 0;
}
.project{
    width: 30%;
    border: 1px solid #000;
    border-radius: 2px;
}
.project img{
    width: 100%;
    height: 200px;
}
.github-btn{
    display: inline-block;
    padding: 8px 20px;
    border-radius: 5px;
    background: #155fcfef;
    color: #fff;
    border: none;
}
.github-btn:hover{
    color: #fff;
    background: #0a57cb;
}

/*--------------------------------------------- Responsive for Mobile device ---------------------------------------------*/
@media only screen and (min-width:669px) and (max-width:998px){
    .projects-container{
        display: grid;
        align-items: center;
        justify-content: center;
        width: 100%;
        grid-gap: 3.3%;
        margin: 20px 0;
    }
    .project{
        width: 100%;
        border: 1px solid #000;
        border-radius: 2px;
    }
} 
@media only screen and (max-width:668px) {
    .projects-container{
        display: grid;
        align-items: center;
        justify-content: center;
        width: 100%;
        grid-gap: 3.3%;
        margin: 20px 0;
    }
    .project{
        width: 100%;
        border: 1px solid #000;
        border-radius: 2px;
    }
}